<!DOCTYPE html>
<html>

  {% include head.html %}

 <!--  <body data-spy="scroll" data-target="#myAffix"> -->
  <body>

    <!--包含头部html-->
    {% include header.html %}

    <div id="main" class="container main">
      {{ content }}
    </div>
 
    <!-- 看板娘 -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/live2d-widget@3.1.4/lib/L2Dwidget.min.js"></script>
    <script type="text/javascript">
    $(window).load(function() {
    L2Dwidget.init({
    "model": {
    jsonPath: "https://cdn.jsdelivr.net/npm/live2d-widget-model-shizuku@1.0.5/assets/shizuku.model.json",
    "scale": 1
    },
    "display": {
    "width": 150,
    "height": 300,
    "position": "left",
    "hOffset": 20,
    "vOffset": -20
    },
    "mobile": {
    "show": true,
    "scale": 0.8
    },
    "react": {
    "opacityDefault": 0.8,
    "opacityOnHover": 0.2
    }
    });
    });
    </script> -->
    <!-- 上面都是看板娘 -->
    
    <div class="waifu">
    <div class="waifu-tips"></div>
    <canvas id="live2d" width="280" height="250" class="live2d"></canvas>
    <div class="waifu-tool">
    <span class="fui-chat"></span>
    <span class="fui-photo"></span>
    </div>
    </div>
    
    <div id="top" data-toggle="tooltip" data-placement="left" title="back to top">
      <a href="javascript:;">
        <div class="arrow"></div>
        <div class="stick"></div>
      </a>
    </div>




    {% include footer.html %}

    {% include newpost.html %}
  
  </body>
</html>
